:root {
  --branding-color: #91ada6;
  --font-color: #494f4a;
  --heading-font: "Rubik", sans-serif;
  --body-font: "Nunito", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--font-color);
}

.navbar {
  padding-top: 20px;
}

.nav-item {
  margin: 0 5px;
  color: var(--font-color);
  font-family: var(--heading-font);
}

.hero-content {
  height: 100vh;
  background: #eef3ee;
  z-index: 100;
  padding-top: 250px;
  text-align: center;
}

.hero-content h1 {
  text-transform: uppercase;
  font-size: 75px;
  font-family: var(--heading-font);
}

.hero-content h2,
.hero-content p {
  font-size: 20px;
}

.hero-content p {
  font-style: italic;
  margin-bottom: 1px;
}

.btn-branding {
  border-color: var(--branding-color);
  border-radius: 3px;
  color: var(--branding-color);
  padding: 5px 25px;
  margin-top: 20px;
}

.btn-branding:hover {
  background: var(--branding-color);
  border-radius: 3px;
  color: #ffffff;
}

h3 {
  font-family: var(--heading-font);
  font-size: 50px;
  text-transform: uppercase;
  margin: 50px 0 80px 0;
}

.about-page {
  background: #eef3ee;
}

.about-content {
  padding-top: 120px;
  margin-top: 50px;
}

.about-photo img {
  width: 600px;
  border-radius: 50%;
  border: 7px solid #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 30px -10px;
}

.about-header {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 40px;
}

.about-subheader {
  font-family: var(--heading-font);
  font-size: 22px;
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content h2,
  .hero-content p {
    font-size: 15px;
  }

  h3 {
    font-size: 23px;
    margin: 30px 0 20px 0;
  }

  .mainpage-img {
    display: block;
    margin: 0 auto;
  }

  .project-buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .work-description {
    display: block;
    margin: 0 auto;
  }

  .about-content {
    margin: 0 30px;
  }

  .about-photo img {
    width: 300px;
    display: block;
    margin: 25px auto;
  }

  .about-header {
    font-size: 25px;
  }

  .about-subheader {
    font-size: 17px;
  }
}
