body {
  font-family: "Nunito", sans-serif;
  color: #494f4a;
}

.hero-content {
  height: 100vh;
  background: #eef3ee;
  z-index: 100;
  padding-top: 150px;
  text-align: center;
}

.hero-content h1 {
  text-transform: uppercase;
  font-size: 75px;
  font-family: "Rubik", sans-serif;
}

.hero-content h2 {
  font-size: 20px;
}

.hero-content p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 1px;
}

.btn-branding {
  border-color: #91ada6;
  border-radius: 3px;
  color: #91ada6;
  padding: 5px 25px;
  margin-top: 20px;
}

.btn-branding:hover {
  background: #91ada6;
  border-radius: 3px;
  color: #ffffff;
}
